@font-face {
    font-family: dax-medium;
    src: url(../fonts/dax-medium.ttf);
}

@font-face {
    font-family: dax-light;
    src: url(../fonts/dax-light.otf);
}

@font-face {
    font-family: dax-bold;
    src: url(../fonts/dax-bold.ttf);
}

.titulo {
    font-family: dax-light;
    color: rgb(138, 139, 141);
    font-size: 30px;
}

.tituloBranco {
    font-family: dax-light;
    color: white;
    font-size: 30px;
}

.tituloBrancoBold {
    font-family: dax-bold;
}

.verde {
    font-family: dax-bold;
    color: rgb(57, 181, 74);
}

.darkBlue{
    font-family: dax-bold;
    color: rgb(0, 105, 145);
}

.lightBlue{
    font-family: dax-bold;
    color: rgb(100, 205 , 250);
}

.subtitulo{
    font-family: dax-light;
    color: rgb(138, 139, 141);
    font-size: 20px;
}

b.bold {
    font-family: dax-bold;
}

.subtituloBranco{
    font-family: dax-light;
    color: white;
    font-size: 20px;
}

b.boldBranco {
    font-family: dax-bold;
}