html{
  scroll-behavior: smooth;
}

.title-sidenav{
    color: white;
    margin-left: 28px;
    margin-top: -5px;
    margin-bottom: -5px;
    font-family: Arial;
}

.sidenav a {
  text-decoration:none;
}

#titleDivider{
    color: white;
    background-color: white;
}

.whiteColor{
  background-color: white;
}

#div-img-sidenav, #div-img-sidenav-pro{
  padding: 0px;
  height: 50px;
  margin-top: -70px;
  text-align: center;
}

#logo-header{
  width: 70px;
  height: auto;
}

#logo-header-pro{
  width: 100px;
  height: auto;
}
#btn-header-live{
  width: 70px;
  height: auto;
}
#btn-header-pro{
  width: 50px;
  height: auto;
}

#div-btn-header{
  margin-top: -2em;
  margin-left: 90%;
  position: relative;
  z-index: 7;
}

.class-logo-header{
  margin-top: -3em;
}
  
  #div-btn-menu, #div-btn-menu-pro {
    position: relative;
    z-index: 2;
  }
  
  #btn_menu, #btn_menu_pro {
    display: none;
  }
  
  #headerPro, #headerLive{
    position: fixed;
    z-index: 5;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: rgba(0,0,0,0.5);
}

label[for="btn_menu_pro"], label[for="btn_menu"] {
  color: white;
  top: 0;
  left: 0;
  margin-left: 1%;
  font-family: "Arial";
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#mySidenavPro, #mySidenav{
  z-index: 6;
}


  .text-sidenav {
    font-family: dax-regular;
    margin-top: -5px;
    margin-bottom: -5px;
    margin-left: -3px;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 4;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
  }
  
  .linkApp {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 12px;
    color: #f1f1f1;
    display: block;
    transition: 0.3s;
    margin-left: -2.5px;
    margin-top: -10px;
    margin-bottom: -10px;
    font-family: Arial;
  }
  
  .sidenav .closebtn {
    color: white;
    position: absolute;
    font-size: 50px;
    top: -15px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
    .dropdown-menu{
      font-size: 18px;
    }
  }

  @media screen and (max-width: 470px){
    #div-btn-header{
      margin-left: 80%;
      margin-top: -1.9em;
    }

    .linkApp {
      font-size: 12px;
      margin-left: -2.5px;
      margin-top: -10px;
      margin-bottom: -10px;
      font-family: Arial;
    }
  }

  @media screen and (max-width: 375px){
    #div-btn-header{
      margin-left: 80%;
      margin-top: -1.9em;
    }

    .linkApp {
      font-size: 12px;
      margin-left: -2.5px;
      margin-top: -10px;
      margin-bottom: -10px;
      font-family: Arial;
    }
  }

  