@font-face {
    font-family: dax-bold;
    src: url(../fonts/dax-bold.ttf);
}

.containerCentral {
    text-align: center;
}


#topo {
    margin-top: -20px;
    background: linear-gradient(30deg, rgb(51, 182, 51), rgb(51, 182, 51), rgb(214, 214, 0));
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    z-index: 0;
}


#topo img#logoMarca {
    margin-top: 5em;
    height: auto;
    width: 200px;
}




#topo p {
    margin-top: 130px;
    font-family: dax-bold;
    color: white;
    font-size: 20px;
}

img#playButton{
    position: absolute;
    width: 90px;
    margin-top: -50px;
    margin-left: -40px;
    z-index: 1;
}

hr {
    margin-left: 8%;
    margin-right: 8%;
}

#startMargin {
    margin-top: 50px;
}

#marginConsulta {
    margin-top: 150px;
}

#cellphone1, #cellphone2, #cellphone5, #cellphone6{
    margin-left: -60px;
    width: 30em;
}

#cellphoneFull6 {
    width: 70em;
}

#cellphone6 {
    display: none;
}

#iconLoja {
    width: 20em;
}

#page3 {
    background: linear-gradient(30deg, rgb(51, 182, 51), rgb(51, 182, 51), rgb(214, 214, 0));
    height: 90em;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 75%);
    z-index: 0;
}

#tituloBrancoPage3 {
    padding-top: 700px;
}

#cellphone3, #cellphone4 {
    position: absolute;
    z-index: 1;
    margin-left: -300px;
    width: 40em;
}

#cellphone3 {
    margin-top: -20px;
}

#cellphone4 {
    margin-top: -600px;
    display: none;
}

#cellphoneFull4 {
    position: absolute;
    margin-top: -600px;
    display: inline;
    margin-left: -400px;
    width: 50em;
}

#page6 {
    margin-top: 30em;
    margin-bottom: 20em;
    background: linear-gradient(20deg, rgb(51, 182, 51), rgb(51, 182, 51), rgb(214, 214, 0));
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#tituloBrancoPage6 {
    padding-top: 250px;
}

#cellphone7, #cellphone8 {
    position: absolute;
    z-index: 1;
    margin-left: -300px;
    width: 35em;
    margin-top: -500px;
}

#cellphoneFull7, #cellphoneFull8 {
    position: absolute;
    z-index: 1;
    width: 45em;
    margin-left: -360px;
    display: inline;
}

#cellphoneFull7 {
    margin-top: -550px;
}

#cellphoneFull8 {
    margin-top: -700px;
}

#cellphone7, #cellphone8 {
    display: none;
}

#liveCheckups {
    margin-top: 400px;
}

#page7 {
    margin-top: 200px;
    background: linear-gradient(10deg, rgb(51, 182, 51), rgb(51, 182, 51), rgb(214, 214, 0));
    height: 45em;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
    z-index: 0;
}

#cellphone9 {
    margin-left: -275px;
    z-index: 1;
    width: 30em;
    position: absolute;
    margin-top: -200px;
}

@media only screen and (min-width: 376px) and (orientation: portrait) {
    p {
        margin-left: 3%;
        margin-right: 3%;
    }

    #topo {
        height: 330px;
        clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }

    #topo p {
        margin-top: 50px;
        font-family: dax-bold;
        color: white;
    }
    
    #topo img#logoMarca {
        height: auto;
        width: 140px;
    }

    img#playButton{
        width: 70px;
        margin-top: -35px;
        margin-left: -30px;
    }

    #cellphone1, #cellphone2, #cellphone5{
        margin-left: -27px;
        width: 15em;
    }

    #cellphone6{
        margin-left: 0px;
        width: 100%;
    }

    #iconLoja {
        width: 9em;
    }

    #page3 {
        margin-top: 150px;
        height: 55em;
    }
    
    #tituloBrancoPage3 {
        padding-top: 370px;
    }
    
    #cellphone3 {
        width: 100%;
        margin-left: -220px;
        margin-top: -90px;
    }
    
    #cellphone4 {
        display: inline;
        width: 100%;
        margin-left: -206px;
        margin-top: -350px;
    }

    #marginConsulta {
        margin-top: 210px;
    }

    #page6 {
        margin-top: 18em;
        margin-bottom: 10em;
        height: 35em;
    }

    #cellphone7, #cellphone8 {
        margin-left: -206px;
        width: 100%;
    }
    
    #cellphone7 {
        margin-top: -280px;
    }

    #cellphone8 {
        margin-top: -350px;
    }

    #tituloBrancoPage6 {
        padding-top: 225px;
    }

    #liveCheckups {
        margin-top: 300px;
    }

    #cellphone9 {
        margin-left: -175px;
        width: 20em;
        margin-top: -200px;
    }

    #page7 {
        height: 30em;
    }

    #cellphone6, #cellphone7, #cellphone8 {
        display: inline;
    }

    #cellphoneFull4, #cellphoneFull6, #cellphoneFull7, #cellphoneFull8 {
        display: none;
    }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {
    p {
        margin-left: 3%;
        margin-right: 3%;
    }

    #topo {
        height: 330px;
        clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }

    #topo p {
        margin-top: 50px;
        font-family: dax-bold;
        color: white;
    }
    
    #topo img#logoMarca {
        height: auto;
        width: 140px;
    }

    img#playButton{
        width: 70px;
        margin-top: -35px;
        margin-left: -30px;
    }

    #cellphone1, #cellphone2, #cellphone5{
        margin-left: -27px;
        width: 15em;
    }

    #cellphone6{
        margin-left: 0px;
        width: 100%;
    }

    #iconLoja {
        width: 9em;
    }

    #page3 {
        margin-top: 80px;
        height: 55em;
    }
    
    #tituloBrancoPage3 {
        padding-top: 370px;
    }
    
    #cellphone3 {
        width: 100%;
        margin-left: -188px;
        margin-top: -50px;
    }
    
    #cellphone4 {
        display: inline;
        width: 100%;
        margin-left: -180px;
        margin-top: -350px;
    }

    #marginConsulta {
        margin-top: 140px;
    }

    #page6 {
        margin-top: 20em;
        margin-bottom: 10em;
        height: 35em;
    }

    #cellphone7, #cellphone8 {
        margin-left: -180px;
        width: 100%;
    }

    #cellphone7 {
        margin-top: -280px;
    }

    #cellphone8 {
        margin-top: -350px;
    }

    #tituloBrancoPage6 {
        padding-top: 190px;
    }

    #liveCheckups {
        margin-top: 225px;
    }

    #cellphone9 {
        margin-left: -175px;
        width: 20em;
        margin-top: -200px;
    }

    #page7 {
        height: 30em;
    }

    #cellphone6, #cellphone7, #cellphone8 {
        display: inline;
    }

    #cellphoneFull4, #cellphoneFull6, #cellphoneFull7, #cellphoneFull8 {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 375px) and (orientation: portrait) {
    #cellphone4 {
        display: inline;
        width: 100%;
        margin-left: -188px;
        margin-top: -350px;
    }
    
    #marginConsulta {
        margin-top: 180px;
    }

    #tituloBrancoPage6 {
        padding-top: 180px;
    }

    #cellphone7, #cellphone8 {
        margin-left: -188px;
    }

    #cellphone7 {
        margin-top: -280px;
    }

    #cellphone8 {
        margin-top: -380px;
    }
}