#containerCentral {
    text-align: center;
}

#containerGlobal{
    margin-top: -3970px;
}


#logo-pro-sidenav{
    width: 90px;
    height: auto;
    margin-bottom: -50px;
}


#primeiroBackground{
    background-image: url(../images/Pro/Page1/bg-5.png);
    height: 350px;
    margin-top: -100px;
    background-repeat: no-repeat;
    background-size: cover;
    /* clip-path: polygon(100% 0, 100% 38%, 49% 61%, 0 38%, 0 0); */
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
}

#segundoBackground{
    height: 950px;
}

#terceiroBackground{
    background-image: url(../images/Pro/Page2/teste.png);
    clip-path: polygon(0 0, 100% 36%, 100% 80%, 0 81%);
    background-size: cover;
    z-index: -2;
    position: relative;
    height: 1500px;
}

#quartoBackground{
    height: 500px;
}

#quintoBackground{
    background-image: url(../images/Pro/Page2/teste.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#sextoBackground{
    height: 450px;
}

 #play-pro-btn{
    height: auto;
    width: 50px;
    position: relative;
    margin-top: -1.2em;
    z-index: 3;
} 

#logo-pro{
    height: auto;
    width: 250px;
    position: relative;
    margin-top: -33em;
    z-index: 3;
}

#text-assista{
    font-family: dax-bold;
    color: white;
    position: relative;
    font-size: 15px;
    margin-top: -8em;
} 


#cellphone-10{
    height: 700px;
    width: auto;
    margin-left: -4%;
}

#cellphone-11{
    height: 700px;
    width: auto;
    margin-bottom: -5%;
}

#cellphone-12{
    height: 700px;
    width: auto; 
    margin-bottom: -50px;
}

#cellphone-13{
    height: 650px;
    width: auto; 
}

#cellphone-14{
    height: 650px;
    width: auto; 
}

#celulares, #celular-completo{
    height: 650px;
    width: auto; 
}


#final{
    margin-top: -3em;
}

.celular{
    display: none;
}

#img-apple{
    width: 150px;
    height: auto;
}

#img-google{
    width: 170px;
    height: auto;
}

#img-arrow{
    width: 50px;
    height: auto;
    position: relative;
    right: -15%;
    margin-top: -6%;
}

@media only screen and (max-width: 1370px) {
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (min-width: 960px) and (max-width: 1280px){

}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {

}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {

}

@media only screen and (max-width: 470px) {
    #containerGlobal{
        margin-top: -3410px;
    }
    #cellphone-10{
        height: 550px;
        width: auto;
    }
    #cellphone-11, #cellphone-12, #cellphone-13, #cellphone-14{
        width: 100%;
        height: auto;
    }
     #play-pro-btn{
        margin-top: -1em;
    }
     #logo-pro{
        margin-top: -28em;
        width: 170px;
    } 
    #text-assista{
        margin-top: -9em;
    }  
    #primeiroBackground{
        height: 250px;
        clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }
    #terceiroBackground{
        clip-path: polygon(0 5%, 100% 20%, 100% 70%, 0 50%);

    }
    #quartoBackground{
        height: 90px;
    }
    #quintoBackground{
        height: 700px;
    }
    #sextoBackground{
        height: 220px;
    }

    #final{
        margin-top: -2em;
    }

    #img-apple{
        width: 100px;
        height: auto;
    }
    
    #img-google{
        width: 110px;
        height: auto;
    }

    #img-arrow{
        right: -40%;
        margin-top: -19%;
    }

    .celulares{
        display: none;
    }

    .celular-completo{
        display: none;
    }

    .celular{
        display: block;
    }
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 360px) {
    #containerGlobal{
        margin-top: -3130px;
    }
    #cellphone-10{
        height: 550px;
        width: auto;
    }
    #cellphone-11, #cellphone-12, #cellphone-13, #cellphone-14{
        width: 100%;
        height: auto;
    }
    #play-pro-btn{
        margin-top: -1em;
    }
     #logo-pro{
        margin-top: -28em;
        width: 170px;
    } 
    #text-assista{
        margin-top: -9em;
    }  
    #primeiroBackground{
        height: 250px;
        clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }
    #terceiroBackground{
        clip-path: polygon(0 5%, 100% 20%, 100% 60%, 0 50%);

    }
    #quartoBackground{
        height: 90px;
    }
    #quintoBackground{
        height: 420px;
    }
    #sextoBackground{
        height: 220px;
    }

    #final{
        margin-top: -2em;
    }

    #img-apple{
        width: 100px;
        height: auto;
    }
    
    #img-google{
        width: 110px;
        height: auto;
    }

    #img-arrow{
        right: -40%;
        margin-top: -19%;
    }

    .celulares{
        display: none;
    }

    .celular-completo{
        display: none;
    }

    .celular{
        display: block;
    }
}


