@font-face {
    font-family: dax-bold;
    src: url(../fonts/dax-bold.ttf);
}

.containerCentral {
    text-align: center;
}

#logo-pro-sidenav{
    width: 130px;
    height: auto;
    margin-bottom: -50px;
}

#topo {
    margin-top: -60px;
    background-image: url(../images/Live/Page1/bg1.png);
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 100%, 0 60%, 0 0);
    z-index: 0;
}

#topo img#logoMarca {
    margin-top: 5em;
    height: auto;
    width: 270px;
}

#topo p {
    margin-top: 100px;
    font-family: dax-bold;
    color: white;
    font-size: 23px;
}

img#playButton{
    position: absolute;
    width: 90px;
    margin-top: -50px;
    margin-left: -40px;
    z-index: 1;
}

hr {
    margin-left: 5%;
    margin-right: 5%;
}

#startMargin {
    margin-top: 50px;
}

#marginConsulta {
    margin-top: 150px;
}

#cellphone1, #cellphone2, #cellphone5, #cellphone6{
    margin-left: -60px;
    width: 35em;
}

#cellphoneFull6 {
    margin-left: -60px;
    width: 40em;
}

#cellphone6 {
    display: none;
}

#iconLoja {
    width: 20em;
}

#page3 {
    background-image: url(../images/Live/Page3/bg-2.png);
    height: 90em;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 0, 100% 35%, 100% 100%, 0 75%);
    z-index: 0;
}

#tituloBrancoPage3 {
    padding-top: 700px;
}

#cellphone3, #cellphone4 {
    position: absolute;
    z-index: 1;
    margin-left: -300px;
    width: 40em;
}

#cellphone3 {
    margin-top: -20px;
}

#cellphone4 {
    margin-top: -600px;
}

#page6 {
    margin-top: 30em;
    margin-bottom: 20em;
    background-image: url(../images/Live/Page6/bg-3.png);
    height: 40em;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#tituloBrancoPage6 {
    padding-top: 250px;
}

#cellphone7, #cellphone8 {
    position: absolute;
    z-index: 1;
    margin-left: -300px;
    width: 35em;
    margin-top: -500px;
}

#cellphoneFull7, #cellphoneFull8 {
    position: absolute;
    z-index: 1;
    width: 45em;
    margin-left: -360px;
}

#cellphoneFull7 {
    margin-top: -550px;
}

#cellphoneFull8 {
    margin-top: -700px;
}

#cellphone7, #cellphone8 {
    display: none;
}

#liveCheckups {
    margin-top: 400px;
}

#page7 {
    margin-top: 200px;
    background-image: url(../images/Live/Page7/bg-4.png);
    height: 45em;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(50% 30%, 100% 0, 100% 100%, 0 100%, 0 0);
    z-index: 0;
}

#cellphone9 {
    margin-left: -275px;
    z-index: 1;
    width: 30em;
    position: absolute;
    margin-top: -200px;
}

@media only screen and (min-width: 376px) and (orientation: portrait) {   
    p {
        margin-left: 3%;
        margin-right: 3%;
    }

    #topo {
        height: 400px;
        clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }

    #topo p {
        margin-top: 70px;
        font-family: dax-bold;
        color: white;
    }
    
    #topo img#logoMarca {
        height: auto;
        width: 200px;
    }

    #cellphone1, #cellphone2, #cellphone5{
        margin-left: -27px;
        width: 15em;
    }

    #cellphone6{
        margin-left: 0px;
        width: 100%;
    }

    #iconLoja {
        width: 10em;
    }

    #page3 {
        height: 70em;
    }
    
    #tituloBrancoPage3 {
        padding-top: 550px;
    }
    
    #cellphone3 {
        width: 100%;
        margin-left: -220px;
        margin-top: 50px;
    }
    
    #cellphone4 {
        width: 100%;
        margin-left: -220px;
        margin-top: -350px;
    }

    #marginConsulta {
        margin-top: 60px;
    }

    #page6 {
        margin-top: 20em;
        margin-bottom: 10em;
        height: 35em;
    }

    #cellphone7, #cellphone8, #cellphoneFull7, #cellphoneFull8 {
        margin-left: -206px;
        width: 100%;
        margin-top: -300px;
    }

    #tituloBrancoPage6 {
        padding-top: 225px;
    }

    #liveCheckups {
        margin-top: 380px;
    }

    #cellphone9 {
        margin-left: -175px;
        width: 20em;
        margin-top: -200px;
    }

    #page7 {
        height: 32em;
    }

    #cellphone6, #cellphone7, #cellphone8 {
        display: inline;
    }

    #cellphoneFull6, #cellphoneFull7, #cellphoneFull8 {
        display: none;
    }
}

@media only screen and (max-width: 375px) and (orientation: portrait) {   
    p {
        margin-left: 3%;
        margin-right: 3%;
    }

    #topo {
        height: 400px;
        clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
    }

    #topo p {
        margin-top: 70px;
        font-family: dax-bold;
        color: white;
    }
    
    #topo img#logoMarca {
        height: auto;
        width: 200px;
    }

    #cellphone1, #cellphone2, #cellphone5{
        margin-left: -27px;
        width: 15em;
    }

    #cellphone6{
        margin-left: 0px;
        width: 100%;
    }

    #iconLoja {
        width: 10em;
    }

    #page3 {
        height: 70em;
    }
    
    #tituloBrancoPage3 {
        padding-top: 550px;
    }
    
    #cellphone3 {
        width: 100%;
        margin-left: -200px;
        margin-top: 50px;
    }
    
    #cellphone4 {
        width: 100%;
        margin-left: -200px;
        margin-top: -350px;
    }

    #marginConsulta {
        margin-top: 60px;
    }

    #page6 {
        margin-top: 20em;
        margin-bottom: 10em;
        height: 35em;
    }

    #cellphoneFull7, #cellphoneFull8 {
        margin-left: -206px;
        width: 100%;
        margin-top: -300px;
    }

    #cellphone7, #cellphone8 {
        margin-left: -180px;
        width: 100%;
        margin-top: -300px;
    }

    #tituloBrancoPage6 {
        padding-top: 225px;
    }

    #liveCheckups {
        margin-top: 300px;
    }

    #cellphone9 {
        margin-left: -175px;
        width: 20em;
        margin-top: -200px;
    }

    #page7 {
        height: 32em;
    }

    #cellphone6, #cellphone7, #cellphone8 {
        display: inline;
    }

    #cellphoneFull6, #cellphoneFull7, #cellphoneFull8 {
        display: none;
    }
}

@media only screen and (min-width: 375px) and (max-width: 375px) and (orientation: portrait) {   
    #cellphone7, #cellphone8, #cellphoneFull7, #cellphoneFull8 {
        margin-left: -188px;
        width: 100%;
        margin-top: -300px;
    }
}